/* learn Position in CSS */
.typography{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ff0000;
    font-weight: bold;
    /* Text-Transform */
    text-transform: uppercase;
    /* use for text decoration underline  */
    text-decoration: underline;
    /* use for text alignment  */
    text-align: center;
    /* Use for spacing between characters */
    letter-spacing: 10px;
     /* use for white space between words  */
    white-space: nowrap;
    /* for text shadow text shadow cycle through the colors of the rainbow */
    text-shadow: 2px 2px 4px rgb(94, 27, 15);
    /* line-height */
    line-height: 10px;

    /* margin:top:Right:Bottom:Left */

    /* padding:top:Right:Bottom:Left */
   
    /* border:width:style:color */
     
    

}

     /* Flex box */
.parent{
    width: 100%;
    height: 500px;
    background-color: #ff0000;
    /* overflow is use to */
    overflow: hidden;
    
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;

}
.child-1, .child-2, .child-3{


}

.bg-section{

    background-color: aqua;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGF0dGVybmVkJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
    background-size: contain;
    background-repeat: no-repeat;
    /* gradient color */
    background-position: center;
    background-image: linear-gradient(to right, red,green,blue,pink);
    
}
      
/* Position in CSS */
 
/*
Relative Position:
        relative position is use to move the element from its original position without affecting the layout of other elements. It allows you to adjust the position of an element using the top, right, bottom, and left properties. The element will still take up space in the document flow, but it will be visually shifted from its original position. */

.box-p{
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    position: relative;
    top: 30px;
    left: 20px;
    bottom: 30px;
}
/* Absolute Position */
 /* is use to position an element relative to its nearest positioned ancestor. An element with absolute positioning is removed from the normal document flow and can be precisely placed using the top, right, bottom, and left properties. The element will not affect the layout of other elements and can overlap with them.  */
.abs-box{

    
}
/* Fixed Position: */
        /* fixed position is use to position an element relative to the viewport, which means it will stay in the same position even when the page is scrolled. An element with fixed positioning is removed from the normal document flow and can be precisely placed using the top, right, bottom, and left properties. The element will not affect the layout of other elements and can overlap with them. */
.p-fix{
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    position: fixed;
    top: 30px;
}

/* learn position sticky
z-index in css */

/*
 learn flex in css properties
  */

/*
 learn background properties in css

*/
