/* CSS selector:
        */
/* universal selector */
*{
    background-color: rgba(160, 185, 177, 0.295);
}
/* id selector  */
#heading{
    /* Property value */
  color: blueviolet;
}

/* class selector */
.para{
    color: blue;
}
.txtbld{
    color: blue;
}

/* element selector */
h2{
    color: rgb(208, 14, 14);
}

/* Box model */
