type of css used 
inline , internal 
/* CSS selector types:

        */
/* universal selector */
*{
    background-color: rgba(160, 185, 177, 0.295);
}
/* id selector  */
#heading{
    /* Property value */
  color: blueviolet;
}

/* class selector */
.para{
    color: blue;
}
.txtbld{
    color: blue;
}

/* element selector */
h2{
    color: rgb(208, 14, 14);
}
/* box model
1.contant
2.padding
3.box 
4.margin  */


/* colors */

/* color:red;
background-color: rgb(255, 0, 0); */

/* Fonts in CSS: */
/* font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold;
font-style: italic; */



/* flex box */

